    
				<form  action="/patients/register" method="post"   >
					
							<input type="text" name="ID"  placeholder="ID" />
							<input type="text" name="PName"  placeholder="Name" />        
							<input type="text" name="Blood_group"  placeholder="Bloodgroup" />        
							<input type="text" name="Phonenumber"  placeholder="phone" />        
                            <input type="text" name="Facebook"  placeholder="face"/>
                            <input type="text" name="Gender"  placeholder="gender"/>
                            <input type="text" name="Age" placeholder="AGE"/>
                            <input type="text" name="City" placeholder="city"/>
                            <input type="text" name="Street" placeholder="street"/>
                            <input type="text" name="Username" placeholder="username"/>
                            <input type="text" name="Password" placeholder="password"/>
                <button type="submit">Add</button>
				</form>
			