<body>
    <form action="/Donation/add" method="post" style="margin-left: 300px">
HELLO
    <!-- <input type="file" name="photofile"> -->
    ID<input type="text" name="id" /><br/>
    Date<input type="text" name="date"/><br/>
    Patient<input type="text" name="patient"/><br/>
    Donor<input type="text" name="donor"/><br/>
    Hospital<input type="text" name="hospital"/><br/>

    <input type="submit" value="save">
    </form>



